In [2]:
HOST = "10.13.128.5"
USER = "root"
PW="+syNZ&-e<]^|eX60"
DB="final_project"

In [3]:
import mysql.connector

def connect():
    connection = mysql.connector.connect(
    host=HOST,
    user=USER,
    password=PW,
    database=DB,
    autocommit=False)
    
    return connection

In [4]:
import mysql.connector

connection = connect()

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f95d6edcd60>

In [61]:
import mysql.connector

connection = connect()
print(connection)

drop = 'DROP TABLE IF EXISTS shopper'

create = '''CREATE TABLE shopper(
    cust_id MEDIUMINT NOT NULL AUTO_INCREMENT,
    first_name VARCHAR(20) NOT NULL,
    last_name VARCHAR(23) NOT NULL,
    company VARCHAR(40) NOT NULL, 
    street_1 VARCHAR(41) NOT NULL, 
    street_2 VARCHAR(41) NOT NULL,
    city VARCHAR(29) NOT NULL,
    county VARCHAR(30) NOT NULL, 
    state CHAR(2)NOT NULL, 
    zip CHAR(5) NOT NULL,
    phone_1 CHAR(13) NOT NULL,
    phone_2 CHAR(13)NOT NULL,
    email VARCHAR(44) NOT NULL,
    PRIMARY KEY  (cust_id)
) '''

print(drop)
print(create)

try:
    cursor = connection.cursor()
    cursor.execute(drop)
    print('Dropped shopper table')
    
    cursor = connection.cursor()
    cursor.execute(create)
    print('Created shopper table')
    
except Exception as e:
    print("Error occurred while creating shopper table:", e)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f95d4f39990>
DROP TABLE IF EXISTS shopper
CREATE TABLE shopper(
    cust_id MEDIUMINT NOT NULL AUTO_INCREMENT,
    first_name VARCHAR(20) NOT NULL,
    last_name VARCHAR(23) NOT NULL,
    company VARCHAR(40) NOT NULL,
    street_1 VARCHAR(41) NOT NULL,
    street_2 VARCHAR(41) NOT NULL,
    city VARCHAR(29) NOT NULL,
    county VARCHAR(30) NOT NULL,
    state CHAR(2)NOT NULL,
    zip CHAR(5) NOT NULL,
    phone_1 CHAR(13) NOT NULL,
    phone_2 CHAR(13)NOT NULL,
    email VARCHAR(44) NOT NULL,
    PRIMARY KEY  (cust_id)
)
Dropped shopper table
Created shopper table

In [62]:
from faker import Faker
import mysql.connector
from random import randint

Faker.seed(1234)
fake = Faker()


connection = connect()
# print(connection)

sql = "INSERT INTO shopper (first_name, last_name, company, street_1, street_2, city, county, state, zip, phone_1, phone_2, email)\
 	  VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

recs=[]

for i in range(50):
    fname = fake.first_name()
    lname = fake.last_name()
    add = fake.address()
    email = f"{fname}.{lname}@{fake.domain_name()}"
    
    rec = (fname,
           lname,
           fake.company(),
           fake.street_address(),
           fake.building_number(),
           fake.city(),
           fake.city(),
           fake.country_code(),
           str(randint(10000,99999)),
           fake.msisdn(),
           fake.msisdn(),
           email)
    recs.append(rec)
           
try:
    cursor = connection.cursor()
    cursor.executemany(sql, recs)
    connection.commit()
    print('50 records written into shopper table')
    cursor.close()
except Exception as e:
    print("Error occurred while writing records:", e)

50 records written into shopper table

In [58]:
!mysql final_project -e "select * from shopper"

+---------+------------+-----------+---------------------------------+-----------------------------------+----------+---------------------+--------------------+-------+-------+---------------+---------------+-------------------------------------+
| cust_id | first_name | last_name | company                         | street_1                          | street_2 | city                | county             | state | zip   | phone_1       | phone_2       | email                               |
+---------+------------+-----------+---------------------------------+-----------------------------------+----------+---------------------+--------------------+-------+-------+---------------+---------------+-------------------------------------+
|       1 | Tammy      | Alexander | Gordon and Sons                 | 871 Zachary Cape                  | 8147     | Josephborough       | Mcdowelltown       | SE    | 42117 | 0527620197218 | 2051824706402 | Tammy.Alexander@davis.com           |
|       2 | Joseph     | Evans     | Calderon Group                  | 435 Jacqueline Valleys Apt. 942   | 571      | South Jasonport     | East Williamland   | ME    | 87715 | 4719416316378 | 5386293405827 | Joseph.Evans@graham-wilson.net      |
|       3 | Rebecca    | Tapia     | Bonilla Ltd                     | 8465 Mary Course Suite 466        | 481      | Hillport            | Williamsmouth      | HT    | 13051 | 2640176467267 | 4959532897707 | Rebecca.Tapia@williams.com          |
|       4 | Donna      | Garcia    | Adams-Malone                    | 45206 Elizabeth Cape              | 25856    | Port Katherineport  | Helenshire         | GN    | 60449 | 8109593277289 | 2832886528989 | Donna.Garcia@steele.com             |
|       5 | Carol      | Griffin   | Fischer, Allen and Joyce        | 595 Thompson Route                | 33998    | New Tara            | Deniseton          | US    | 18573 | 5954665340594 | 8903899582545 | Carol.Griffin@simmons-peterson.info |
|       6 | Mary       | Nelson    | Wallace, Cross and Fitzgerald   | 869 Daniel Mountains              | 1882     | Johnland            | Philipport         | LC    | 85156 | 6839775781871 | 3295264340259 | Mary.Nelson@tucker.info             |
|       7 | Cory       | Brown     | Lawson-Butler                   | 466 Jennings Park Suite 342       | 62039    | Courtneyborough     | Hardintown         | SY    | 49621 | 1113676348588 | 1408222662824 | Cory.Brown@moore.org                |
|       8 | Clayton    | Fernandez | Werner and Sons                 | 823 Ramsey River                  | 0853     | Port Angela         | West Lisabury      | KZ    | 14440 | 6676598399974 | 9004917936630 | Clayton.Fernandez@cabrera.com       |
|       9 | Ryan       | Rodriguez | Holmes, Mcintyre and Jenkins    | 42397 Patricia Gardens Suite 724  | 64804    | Stephanieborough    | Lake Antonio       | KP    | 89046 | 0626594119695 | 6782618859883 | Ryan.Rodriguez@reed.com             |
|      10 | Diana      | Garcia    | Rodriguez Ltd                   | 829 Joseph Village Suite 499      | 95853    | New Kayleeville     | Andreland          | AT    | 49454 | 8959690671315 | 5651022752104 | Diana.Garcia@gomez.org              |
|      11 | Ashley     | Johnson   | Johnston, Torres and Hill       | 2494 Kenneth Drives               | 970      | Robertton           | Danatown           | SD    | 52665 | 3943764586647 | 9954351695564 | Ashley.Johnson@porter.info          |
|      12 | Paul       | David     | Walker-Peters                   | 128 Thompson Mission Suite 471    | 87700    | Karenfurt           | South Sharon       | TT    | 50663 | 3245429867039 | 6129011221751 | Paul.David@schaefer-jenkins.org     |
|      13 | Natalie    | Smith     | Fox, Oconnor and Scott          | 59005 Carr Motorway               | 61468    | Lake Mariofurt      | Timothyton         | MT    | 67129 | 6038981918557 | 0009839164883 | Natalie.Smith@mccoy-morales.com     |
|      14 | Jonathan   | Evans     | Lam, Schmidt and Davidson       | 46090 Henderson Corners Suite 390 | 14039    | Blankenshipside     | East Deborahville  | LU    | 87670 | 8111703663595 | 0686737978589 | Jonathan.Evans@swanson.com          |
|      15 | Elizabeth  | Barker    | Wyatt-Kerr                      | 994 Davis Prairie Apt. 757        | 180      | North Jason         | South Lisastad     | VC    | 56061 | 1439825548708 | 0603142486924 | Elizabeth.Barker@lopez.com          |
|      16 | Travis     | Jones     | Jones-Yu                        | 884 Tyler Parks                   | 853      | South Tonya         | South Marialand    | KN    | 84553 | 0964362332310 | 4832099465732 | Travis.Jones@myers-weeks.com        |
|      17 | Kathleen   | Gardner   | Krause PLC                      | 56663 Mary Knolls Suite 229       | 64874    | Wrightfurt          | North Leonardton   | BD    | 49482 | 0174342191159 | 5427791671727 | Kathleen.Gardner@ward.com           |
|      18 | Joanne     | Graves    | Fitzgerald-Wall                 | 44562 Anthony Village Apt. 809    | 16785    | Maryfurt            | South Theresamouth | LA    | 26489 | 1859714867983 | 8367944146514 | Joanne.Graves@glover.com            |
|      19 | Patricia   | Watson    | Hardy, Fields and Foley         | 0071 Martinez Forest              | 5863     | Lake Amberview      | Alexamouth         | LB    | 31150 | 2604748499584 | 8624982120155 | Patricia.Watson@kelly.com           |
|      20 | Brittany   | Moreno    | Smith LLC                       | 89714 Stephanie Harbors Apt. 066  | 005      | Brianstad           | North Raymond      | SC    | 76310 | 9636974077920 | 1721436936508 | Brittany.Moreno@weiss.biz           |
|      21 | Jason      | Anderson  | Russell Ltd                     | 5272 King Plain Suite 741         | 4037     | Bakerton            | Angelabury         | RO    | 23241 | 4488098290115 | 6954743896807 | Jason.Anderson@reed.com             |
|      22 | Michael    | Douglas   | Smith LLC                       | 22818 Tyler Meadows               | 324      | Gutierrezhaven      | West Emily         | LV    | 88566 | 8256048818082 | 3462917937161 | Michael.Douglas@reed-potter.net     |
|      23 | Joshua     | Farmer    | Thompson-Carter                 | 839 Garcia Ports                  | 7564     | Deleonmouth         | Jessicaview        | CY    | 99622 | 0090045724551 | 0975469993902 | Joshua.Farmer@hill-melendez.org     |
|      24 | Dillon     | Roy       | Le, Herrera and Delgado         | 2580 Brown Brooks                 | 8840     | North Katherinestad | East Sheila        | KW    | 59834 | 0071831442400 | 1231707765392 | Dillon.Roy@hansen.info              |
|      25 | James      | Murphy    | Gamble-Clark                    | 3254 Wesley Haven Apt. 997        | 13609    | Michaelberg         | Villarrealside     | TR    | 11257 | 4150294523357 | 5630698911720 | James.Murphy@perkins.com            |
|      26 | Alexandra  | Palmer    | Hall-Rodriguez                  | 148 Tonya Pines                   | 8962     | North Micheal       | Stephanieville     | SY    | 80412 | 2369031307928 | 9449993459016 | Alexandra.Palmer@smith.org          |
|      27 | Cynthia    | Delacruz  | Gallagher Group                 | 697 White Road Apt. 683           | 25716    | South Amanda        | East Robert        | EG    | 42905 | 5076427312853 | 2517348529090 | Cynthia.Delacruz@harris-vazquez.com |
|      28 | Kimberly   | Martinez  | Nelson LLC                      | 720 Brittney Crescent             | 436      | Annville            | North David        | NZ    | 68821 | 4083621120666 | 3687922344100 | Kimberly.Martinez@petersen.biz      |
|      29 | Brandon    | Andrews   | Wheeler Inc                     | 923 Shannon Ridges Apt. 163       | 0029     | South Tracy         | Brownhaven         | MN    | 15337 | 4174816362458 | 6931655846164 | Brandon.Andrews@dunlap.com          |
|      30 | Billy      | Rivera    | Garcia-Turner                   | 65847 Warren Dale Suite 871       | 78052    | Port Christineport  | Snowmouth          | HU    | 96020 | 8869964579035 | 0520228923069 | Billy.Rivera@ray.com                |
|      31 | Sean       | Ruiz      | Patrick LLC                     | 64335 Brooks Track                | 8812     | Lake Briana         | Stephentown        | TJ    | 75813 | 3987959399472 | 3271952518602 | Sean.Ruiz@montgomery.biz            |
|      32 | Kevin      | Ryan      | Nguyen, Jacobs and Salazar      | 5707 Christopher Radial Suite 116 | 868      | Murphystad          | Huntshire          | TJ    | 51397 | 7627111048395 | 7494253171429 | Kevin.Ryan@hudson-davis.biz         |
|      33 | Chelsea    | Guerra    | Barton, Rhodes and Peterson     | 454 Sandoval Junction Suite 764   | 628      | Beasleyport         | Kramerhaven        | MU    | 50074 | 7363838500597 | 9948577312372 | Chelsea.Guerra@contreras.info       |
|      34 | Derrick    | Johnson   | Williams, Stanton and Patterson | 9400 Wu Court                     | 280      | South Jessicashire  | Melissamouth       | BO    | 62509 | 1422261182410 | 7725910429654 | Derrick.Johnson@payne.info          |
|      35 | Kristy     | Ho        | Chapman PLC                     | 59869 Brianna Divide              | 9142     | Vanessamouth        | Kaylamouth         | VC    | 97211 | 5758904183793 | 2154043953087 | Kristy.Ho@king.com                  |
|      36 | Jessica    | Elliott   | Best, Jefferson and Jacobs      | 969 Wendy Lodge                   | 285      | Nicoleport          | Smithfurt          | HU    | 96034 | 0278303577843 | 0326539595662 | Jessica.Elliott@nguyen-meyer.biz    |
|      37 | Emily      | Zimmerman | Goodwin-Sullivan                | 976 Jeremy Center Suite 256       | 4831     | Michaelfurt         | Parkerfort         | AG    | 64970 | 0394691371130 | 9907998744910 | Emily.Zimmerman@andrews.com         |
|      38 | Daniel     | Lin       | Lewis and Sons                  | 63475 Compton Knolls Apt. 868     | 6827     | Fuentesville        | Taylorland         | BN    | 29536 | 6242930222869 | 6729801544271 | Daniel.Lin@lopez.com                |
|      39 | Elizabeth  | Chavez    | Gutierrez-Mcgee                 | 6264 Powell Summit Suite 044      | 2746     | Nicolebury          | West Ann           | TV    | 96890 | 2132600297159 | 3956905398580 | Elizabeth.Chavez@jensen.com         |
|      40 | Stephen    | Frazier   | Solis-Kelly                     | 42565 Alex Circle Apt. 918        | 4093     | East Amanda         | Wigginsshire       | IE    | 63155 | 0890398255270 | 8553142789947 | Stephen.Frazier@conley-krueger.com  |
|      41 | Erik       | Cole      | Kennedy, Burton and Hickman     | 44055 Hannah Vista                | 25585    | Singletonville      | Kevinville         | CA    | 14788 | 9409051117106 | 5726071115794 | Erik.Cole@barnes.com                |
|      42 | Eric       | Moore     | Atkinson Inc                    | 72549 Kemp Islands                | 855      | Paulmouth           | West Michelle      | PW    | 13292 | 9158420610977 | 8477647830512 | Eric.Moore@martinez.com             |
|      43 | Andrew     | Garcia    | Hughes and Sons                 | 513 Calderon Circle               | 1958     | Julieton            | Chanburgh          | BH    | 76374 | 5357802342809 | 8947721315514 | Andrew.Garcia@joseph.com            |
|      44 | David      | Mercado   | Manning-Grant                   | 04997 Sue Parkways Apt. 735       | 2831     | Madisontown         | New Erik           | KP    | 64895 | 9641613952596 | 3080626176897 | David.Mercado@mays.com              |
|      45 | Brittany   | Jarvis    | Lyons-Martinez                  | 7102 Mackenzie Park               | 62931    | East William        | Adamsburgh         | MT    | 14884 | 2222844338640 | 2119135279620 | Brittany.Jarvis@clarke.com          |
|      46 | Anna       | Russell   | Leblanc, Bailey and White       | 575 Benitez Mission Apt. 855      | 88822    | Lake Michael        | Saraborough        | NR    | 77971 | 6090262019122 | 5030912872340 | Anna.Russell@thomas.net             |
|      47 | Joseph     | Ramirez   | Moran-Brennan                   | 448 Harris Plaza Apt. 767         | 1375     | East Mark           | Kevinfurt          | RU    | 28869 | 2044860124992 | 2518043877956 | Joseph.Ramirez@daniel.com           |
|      48 | Joshua     | Cole      | Barker, Davis and Lopez         | 398 Davies Union                  | 4352     | Port Alicia         | East John          | NO    | 90836 | 0812712781557 | 1178389721828 | Joshua.Cole@scott.com               |
|      49 | Christine  | Ford      | Lee-Yang                        | 321 Smith Court                   | 355      | East Baileyland     | Jaredville         | CL    | 64071 | 3609107289772 | 4291503907415 | Christine.Ford@johnson.com          |
|      50 | Melissa    | Reynolds  | White Ltd                       | 9963 Mitchell Villages Suite 643  | 1884     | Lindsayview         | Joebury            | DK    | 97986 | 1074186719366 | 7163947082120 | Melissa.Reynolds@walker.com         |
+---------+------------+-----------+---------------------------------+-----------------------------------+----------+---------------------+--------------------+-------+-------+---------------+---------------+-------------------------------------+