### Starter code for Project 4. 
#### Run these cells before starting the assignment.

#### 1. create BQ dataset:

In [1]:
%env dataset_id=school_enrollments

env: dataset_id=school_enrollments

In [4]:
!bq --location=US mk --dataset $dataset_id

Dataset 'firm-champion-397418:school_enrollments' successfully created.

#### 2. create and populate BQ tables:
##### Note: the load commands will run for a few minutes. Please be patient and wait for them to finish before moving onto step 3.

In [5]:
import os

In [6]:
gsutil_cmd = "gsutil ls gs://cs327e-open-access/stanford-school-enrollment/*"
file_listings = os.popen(gsutil_cmd)
dataset="school_enrollments"

for file in file_listings:

    start_index = file.rindex("_") + 1
    end_index = file.rindex(".")
    table = file[start_index:end_index]
    
    if table in ("co", "district", "fl", "ga", "id", "ma", "mo", "ne", "ny", "or", "school", "sd", "wi"):
        print("skipping " + table)
        continue

    bq_cmd = "bq --location=US load --autodetect --skip_leading_rows=1 "\
             "--source_format=CSV " + dataset + "." + table + ' ' + file
    print(bq_cmd)
    
    os.system(bq_cmd)

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ak gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ak.csv

Waiting on bqjob_r2d51ec3c166f57f_0000018acdd9baf7_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ar gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ar.csv

Waiting on bqjob_r6d20cb29efbcd796_0000018acdd9cfe1_1 ... (4s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.az gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_az.csv

Waiting on bqjob_r60cc468d551c2df3_0000018acdd9edd9_1 ... (5s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ca gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ca.csv

Waiting on bqjob_r57b43227da06c8f4_0000018acdda101a_1 ... (48s) Current status: DONE

skipping co
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ct gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ct.csv

Waiting on bqjob_r6a99ab54667a9f1c_0000018acddad90a_1 ... (2s) Current status: DONE

skipping district
skipping fl
skipping ga
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.hi gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_hi.csv

Waiting on bqjob_r7053b222fe2e9c2b_0000018acddaeda7_1 ... (2s) Current status: DONE

skipping id
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.in gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_in.csv

Waiting on bqjob_rfcdf259c88d4b7b_0000018acddb021b_1 ... (3s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.la gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_la.csv

Waiting on bqjob_r156be06ac394633_0000018acddb1ad9_1 ... (4s) Current status: DONE

skipping ma
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.md gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_md.csv

Waiting on bqjob_r64572c9760d67b7a_0000018acddb37d1_1 ... (1s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.mn gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_mn.csv

Waiting on bqjob_r18dd40c8eb618c59_0000018acddb47b0_1 ... (23s) Current status: DONE

skipping mo
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ms gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ms.csv

Waiting on bqjob_r3c9af993c48c908f_0000018acddbad77_1 ... (2s) Current status: DONE

skipping ne
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nh gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_nh.csv

Waiting on bqjob_r42dc1e82c9238cc1_0000018acddbc211_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nj gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_nj.csv

Waiting on bqjob_r4c7f3fef5243ee9_0000018acddbd700_1 ... (1s) Current status: DONE

BigQuery error in load operation: Error processing job 'firm-
champion-397418:bqjob_r4c7f3fef5243ee9_0000018acddbd700_1': Error while reading
data, error message: Could not parse 'N' as INT64 for field
ccd_district_high_grade (position 12) starting at location 2800632  with message
'Unable to parse' File: gs://cs327e-open-access/stanford-school-
enrollment/zf406jp4427_nj.csv
Failure details:
- Error while reading data, error message: CSV processing encountered
too many errors, giving up. Rows: 12208; errors: 1; max bad: 0;
error percent: 0
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nm gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_nm.csv

Waiting on bqjob_r72b13d253438716e_0000018acddbe702_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.nv gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_nv.csv

Waiting on bqjob_r7d717b550f5bd176_0000018acddbfb88_1 ... (1s) Current status: DONE

skipping ny
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ok gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ok.csv

Waiting on bqjob_r140ec28236e9ccff_0000018acddc0b8c_1 ... (3s) Current status: DONE

skipping or
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.pa gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_pa.csv

Waiting on bqjob_r5b2875613b0845a2_0000018acddc2470_1 ... (3s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.sc gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_sc.csv

Waiting on bqjob_r3b45802143b6e620_0000018acddc3d50_1 ... (2s) Current status: DONE

skipping school
skipping sd
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.tx gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_tx.csv

Waiting on bqjob_r4cf36182b2178504_0000018acddc518a_1 ... (6s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.ut gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_ut.csv

Waiting on bqjob_r4e552f5338072e96_0000018acddc76eb_1 ... (2s) Current status: DONE

bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.wa gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_wa.csv

Waiting on bqjob_r69fe32d927167b86_0000018acddc8af6_1 ... (4s) Current status: DONE

skipping wi
bq --location=US load --autodetect --skip_leading_rows=1 --source_format=CSV school_enrollments.wy gs://cs327e-open-access/stanford-school-enrollment/zf406jp4427_wy.csv

Waiting on bqjob_r4b1a1d4d3135452c_0000018acddca77d_1 ... (1s) Current status: DONE

#### 3. Open the BQ UI and explore the schemas for the tables in the `school_enrollments` dataset. Also, preview the tables in the UI to see some sample data.

#### 4. Find school enrollments by school name, grade level, and year for Texas:

In [10]:
%%bigquery
select school, grade, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total
from school_enrollments.tx
where total != "" and school != ""
group by school, grade, year
order by school, grade, year

Query is running:   0%|          |

Downloading:   0%|          |

                                   school             grade  year  total
0      21ST CENTURY EARLY LEARNING FOUNDA  pre_kindergarten  2020    522
1      21ST CENTURY EARLY LEARNING FOUNDA  pre_kindergarten  2021    424
2                              3D ACADEMY          grade_10  2020     28
3                              3D ACADEMY          grade_10  2021     30
4                              3D ACADEMY          grade_11  2020     45
...                                   ...               ...   ...    ...
90335                            ZWINK EL           grade_5  2021    135
90336                            ZWINK EL      kindergarten  2020    156
90337                            ZWINK EL      kindergarten  2021    119
90338                            ZWINK EL  pre_kindergarten  2020     34
90339                            ZWINK EL  pre_kindergarten  2021     40

[90340 rows x 4 columns]

##### Note: Since the `total` column in the table is of type STRING, we needed to cast it to an INTEGER type before we can apply the `sum` function. Please see documentation on BQ's string functions, which include `cast()` and `replace()`: https://cloud.google.com/bigquery/docs/reference/standard-sql/string_functions

#### 5. Find school enrollments by school name, grade level, and year for Austin:

%%bigquery
select school, grade, year, sum(cast(replace(replace(total, ",", ""), "<", "") as int64)) as total
from school_enrollments.tx
where total != "" and school != "" and district like '%AUSTIN%'
group by school, grade, year
order by school, grade, year

#### Project 4 marker. Add your work for Project 4 below this cell.

searches for all schools in california that has non 0 student enrollment but 0 white student enrollment by grade (the school can still have white students but the query will find the grades within the school that do not have any white student enrollment)and returns the total number of students enrolled in that grade ordered by ordered by school, grade, and year.

In [34]:
%%bigquery
select school, grade, year, sum(total) as total
from school_enrollments.ca
where total != 0.0 and school != "" and white = 0.0
group by school, grade, year
order by school, grade, year

Query is running:   0%|          |

Downloading:   0%|          |

                                school       grade  year  total
0      21st Century Learning Institute  combined_K  2020    2.0
1      21st Century Learning Institute     grade_1  2020    1.0
2      21st Century Learning Institute     grade_3  2020    2.0
3                A. G. Cook Elementary     grade_1  2020   58.0
4                A. G. Cook Elementary     grade_1  2021   43.0
...                                ...         ...   ...    ...
13425                      one.Charter     grade_4  2020    7.0
13426                      one.Charter     grade_4  2021    7.0
13427                      one.Charter     grade_5  2021    5.0
13428                      one.Charter     grade_7  2021    1.0
13429                      one.Charter     grade_8  2020    5.0

[13430 rows x 4 columns]

searches for all school grades in arizona that has at least 5 native american or alaskan natives enrolled and the total number of native american and alaskan natives enrolled in those school grades ordered by ordered by school, grade, and year.

In [37]:
%%bigquery
select school, grade, year, sum(native_american_alaskan_native) as num_natives
from school_enrollments.ar
where school != ""
group by school, grade, year
having sum(native_american_alaskan_native) >= 5.0
order by school, grade, year

Query is running:   0%|          |

Downloading:   0%|          |

                             school       grade  year  num_natives
0           ACORN ELEMENTARY SCHOOL     grade_1  2017          5.0
1           ACORN ELEMENTARY SCHOOL     grade_2  2018          5.0
2           ACORN ELEMENTARY SCHOOL     grade_3  2019          5.0
3           ACORN ELEMENTARY SCHOOL  k_12_total  2016          9.0
4           ACORN ELEMENTARY SCHOOL  k_12_total  2017          8.0
...                             ...         ...   ...          ...
2099  YELLVILLE-SUMMIT ELEM. SCHOOL  k_12_total  2016          9.0
2100  YELLVILLE-SUMMIT ELEM. SCHOOL  k_12_total  2017         10.0
2101  YELLVILLE-SUMMIT ELEM. SCHOOL  k_12_total  2019          6.0
2102  YELLVILLE-SUMMIT ELEM. SCHOOL  k_12_total  2020          7.0
2103  YELLVILLE-SUMMIT ELEM. SCHOOL  k_12_total  2021          7.0

[2104 rows x 4 columns]

searches for all school grades in louisiana that is a charter school and returns the school name, grade, year, type of school and total enrollment by school grade ordered by school, grade, year, and school type.

In [40]:
%%bigquery
select school, grade, year, ccd_school_type, sum(total) as total
from school_enrollments.la
where ccd_charter_school = TRUE
group by school, grade, year, ccd_school_type
order by school, grade, year, ccd_school_type

Query is running:   0%|          |

Downloading:   0%|          |

,school,grade,year,ccd_school_type,total
0,AmiKiDs Caddo,extension_academy,2021,Regular School,0
1,AmiKiDs Caddo,grade_1,2019,Regular School,0
2,AmiKiDs Caddo,grade_1,2020,Regular School,0
3,AmiKiDs Caddo,grade_1,2021,Regular School,0
4,AmiKiDs Caddo,grade_10,2019,Regular School,0
...,...,...,...,...,...
1625,Young Audiences Charter School,pk_12_total,2020,Regular School,2186
1626,Young Audiences Charter School,pk_12_total,2021,Regular School,2424
1627,Young Audiences Charter School,pre_kindergarten,2019,Regular School,0
1628,Young Audiences Charter School,pre_kindergarten,2020,Regular School,0
1629,Young Audiences Charter School,pre_kindergarten,2021,Regular School,35

searches all schools in hawaii that has less than 100 people enrolled and returns the total number of disabled students for that school ordered by schnool, grade, and year.

In [ ]:
%%bigquery
select school, grade, year, sum(disability) as disability
from school_enrollments.hi
where total != 0.0 and school != "" and disability is not NULL and grade = 'pk_12_total'
group by school, grade, year
having sum(total) < 100
order by school, grade, year

searches for all k-12 schools in alaska that has nonzero students enrolled and returns school name, year, and number of hispanic students greater than or equal to 10, grouped by and ordered by school and year.

In [61]:
%%bigquery
select school, year, sum(hispanic) as num_hispanic
from school_enrollments.ak
where total != 0.0 and school != "" and grade="k_12_total"
group by school, year
having sum(hispanic)>=10
order by school, year

Query is running:   0%|          |

Downloading:   0%|          |

                     school  year  num_hispanic
0                   AKTEACH  2021          10.0
1    Abbott Loop Elementary  2020          29.0
2    Abbott Loop Elementary  2021          14.0
3    Academy Charter School  2020          17.0
4    Academy Charter School  2021          16.0
..                      ...   ...           ...
407      Winterberry School  2021          20.0
408  Wonder Park Elementary  2020          35.0
409  Wonder Park Elementary  2021          29.0
410    Woodriver Elementary  2020          37.0
411    Woodriver Elementary  2021          24.0

[412 rows x 3 columns]

searches for all non-empty districts with a total greater than 20 students and a ccd_district_low_grades that is PK  and returns district, year, and number of asian students greater than or equal to 10, grouped by district and year but ordered by year.

In [65]:
%%bigquery
select district, year, sum(asian) as num_asian
from school_enrollments.in
where total>20 and district != "" and ccd_district_low_grade="PK"
group by district, year
having sum(asian)>=10
order by year

Query is running:   0%|          |

Downloading:   0%|          |

                               district  year  num_asian
0         North Adams Community Schools  2015       10.0
1                   South Adams Schools  2015       14.0
2    M S D Southwest Allen County Schls  2015      311.0
3        Northwest Allen County Schools  2015      204.0
4          Fort Wayne Community Schools  2015     1519.0
..                                  ...   ...        ...
795       Centerville-Abington Com Schs  2021       15.0
796          Richmond Community Schools  2021       67.0
797    Northern Wells Community Schools  2021       27.0
798          Whitley County Con Schools  2021       19.0
799         Indiana School For The Deaf  2021       14.0

[800 rows x 3 columns]

searches for schools with nonzero unknown race and multiracial students and returns the outer join of school states (CA or TX), year, grade, and sum of students with unknown race or multiracial from california by equivalent district state ids. they are then grouped by state, year, school and grade and then ordered by grade.

In [67]:
%%bigquery
SELECT  `school_enrollments.ca`.state as CA,`school_enrollments.tx`.state as TX,`school_enrollments.ca`.year,`school_enrollments.tx`.school as school_tx, `school_enrollments.ca`.school as school_ca,`school_enrollments.ca`.grade, sum(`school_enrollments.ca`.multiracial+`school_enrollments.ca`.unknown_race) as unk_and_multi
FROM `school_enrollments.ca`
FULL OUTER JOIN `school_enrollments.tx`
ON `school_enrollments.ca`.district_state_id = `school_enrollments.tx`.district_state_id
WHERE `school_enrollments.ca`.multiracial!=0 and `school_enrollments.ca`.unknown_race!=0
GROUP BY `school_enrollments.ca`.state,`school_enrollments.tx`.state,`school_enrollments.ca`.year,`school_enrollments.ca`.school, `school_enrollments.tx`.school,`school_enrollments.ca`.grade
ORDER BY `school_enrollments.ca`.grade

Query is running:   0%|          |

Downloading:   0%|          |

,CA,TX,year,school_tx,school_ca,grade,unk_and_multi
0,CA,None,2020,None,,combined_K,28029.0
1,CA,None,2021,None,,combined_K,25223.0
2,CA,None,2020,None,Buford Elementary,combined_K,21.0
3,CA,None,2021,None,Buford Elementary,combined_K,28.0
4,CA,None,2020,None,Chet F. Harritt Elementary,combined_K,10.0
...,...,...,...,...,...,...,...
34118,CA,None,2020,None,Olive Grove Charter - Orcutt/Santa Maria,k_12_total,13.0
34119,CA,None,2021,None,Olive Grove Charter - Orcutt/Santa Maria,k_12_total,11.0
34120,CA,None,2020,None,California School for the Blind,k_12_total,2.0
34121,CA,None,2020,None,California School for the Deaf-Fremont,k_12_total,22.0
34122,CA,None,2021,None,California School for the Deaf-Riverside,k_12_total,10.0

returns the outer join of school state (MN or MD), year , school, grade, and count of minnesota schools per county that are grouped by state, year,school, and grade and ordered by grade.

In [68]:
%%bigquery
SELECT  `school_enrollments.mn`.state as MN,`school_enrollments.md`.state as MD,`school_enrollments.mn`.year,`school_enrollments.md`.school as school_md, `school_enrollments.mn`.school as school_mn,`school_enrollments.mn`.grade, count(`school_enrollments.mn`.county) as school_per_county_mn
FROM `school_enrollments.mn`
FULL OUTER JOIN `school_enrollments.md`
ON `school_enrollments.mn`.district_state_id = `school_enrollments.md`.district_state_id
GROUP BY `school_enrollments.mn`.state,`school_enrollments.md`.state,`school_enrollments.mn`.year,`school_enrollments.mn`.school, `school_enrollments.md`.school,`school_enrollments.mn`.grade
ORDER BY `school_enrollments.mn`.grade

Query is running:   0%|          |

Downloading:   0%|          |

,MN,MD,year,school_md,school_mn,grade,school_per_county_mn
0,None,MD,<NA>,,None,None,0
1,None,MD,<NA>,Easton Middle,None,None,0
2,None,MD,<NA>,St. Michaels Middle/High School,None,None,0
3,None,MD,<NA>,Easton High,None,None,0
4,None,MD,<NA>,Easton Elementary,None,None,0
...,...,...,...,...,...,...,...
537899,MN,MD,2019,Parkside Elementary,SULLIVAN ELEMENTARY,pre_kindergarten,16
537900,MN,None,2021,None,Urban Academy Charter School,pre_kindergarten,1
537901,MN,None,2020,None,Urban Academy Charter School,pre_kindergarten,1
537902,MN,None,2018,None,Urban Academy Charter School,pre_kindergarten,1
537903,MN,None,2019,None,URBAN ACADEMY CHARTER SCHOOL,pre_kindergarten,1